.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider{
    margin: 20px 0;
}