.radio {
    display: flex;
    & > label:first-child{
        border-left: 1.5px solid black;
    }
    & label {
        &::before {
            width: 0;
            padding: 0;
            background-color: transparent;
            display: none !important;
        }
        &.ant-radio-button-wrapper-checked {
            background-color: red;
        }
    }
}

.button {
    color: black !important;
    margin: 4px !important;
    border-radius: 100% !important;
    width: 50px;
    height: 50px;
    line-height: 46px;
    padding: 0;
    text-align: center;
    border: 1.5px solid #000;
    z-index: 0 !important;
}
